---
title: Pream
---

<% data.projects.project06.each_with_index do |project, i| %>
<section class="main">

  <div class="row">

    <div class="project-intro col-xs-12 col-md-6 off-md-3">
      <h1><%= project.title %></h1>
      <p class="text-lead"><%= project.description %></p>
      <p><%= project.context %></p>
      <p><a href=<%= project.live %> rel="nofollow">Visitez le site</a></p>
    </div>

    <div class="project-visuals col-xs-12 col-md-10 off-md-1">
      <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=<%= project.screen01 %> alt=<%= project.title %>>
    </div>

  </div>

</section>

<section class="navbar">
  <ul>
    <li class="prev"><a href="project-05" class="button"><%= image_tag "icon-arrow-left.svg" %></a></li>
    <li class="home"><a href="/" class="button button-outline">Accueil</a></li>
    <li class="next"><a href="project-07" class="button"><%= image_tag "icon-arrow-right.svg" %></a></li>
  </ul>
</section>

<% end %>
