---
title: "Gsbodpjt Wjmbjsf, webdesigner"
---
<section class="title">

  <div class="row">

    <div class="col-xs-12 col-md-6">
      <div class="hero">
        <h1>Gsbodpjt Wjmbjsf</h1>
        <p class="text-lead">Designer au service des internets depuis l'an 2007.<br>Bienvenue sur ce portfolio</p>
        <p><a>Des travaux ? C'est plus bas &#8595;</a></p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="sidekick">
        <h2>Cet individu est un webdesigner.</h2>
        <p>Je vis actuellement mon amour de métier au sein de l'agence Silicon Salad, à Lille. Je ne prétends pas encore sauver le monde, mais je garde la plus grande curiosité pour ma profession, ses méthodes et ses buts.</p>
        <p><a>Vous voulez en savoir plus ?</a> Pas de souci, la magie des liens hypertextes va agir. Comble du luxe, vous trouverez également ci-dessous quelques chatoyantes icônes sociables.</p>
        <p>Merci de votre visite, revenez quand vous voulez.</p>
        <p><%= link_to "Twitter", "#" %></p>
      </div>
    </div>

  </div>

</section>

<% data.projects.project01.each_with_index do |project, i| %>
  <section class="work work-right">

    <div class="row">

      <div class="work-info col-xs-12 col-md-3 off-md-3">
        <div class="caption">
          <h3><%= project.title %></h3>
          <ul>
            <% project.tags.each do |f| %>
            <li><%= f %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="work-visual col-xs-12 col-md-6">
        <img src="<%= project.image %>" alt="<%= project.title %>">
      </div>

    </div>

    <div class="category">
      <%= project.category %>
    </div>

  </section>
<% end %>

<% data.projects.project02.each_with_index do |project, i| %>
  <section class="work work-left">

    <div class="row">

      <div class="work-visual col-xs-12 col-md-6">
        <img src="<%= project.image %>" alt="<%= project.title %>">
      </div>

      <div class="work-info col-xs-12 col-md-3">
        <div class="caption">
          <h3><%= project.title %></h3>
          <ul>
            <% project.tags.each do |f| %>
            <li><%= f %></li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>

    <div class="category">
      <%= project.category %>
    </div>

  </section>
<% end %>

<% data.projects.project03.each_with_index do |project, i| %>
  <section class="work work-right">

    <div class="row">

      <div class="work-info col-xs-12 col-md-3 off-md-3">
        <div class="caption">
          <h3><%= project.title %></h3>
          <ul>
            <% project.tags.each do |f| %>
            <li><%= f %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="work-visual col-xs-12 col-md-6">
        <img src="<%= project.image %>" alt="<%= project.title %>">
      </div>

    </div>

    <div class="category">
      <%= project.category %>
    </div>

  </section>
<% end %>

<% data.projects.project04.each_with_index do |project, i| %>
  <section class="work work-left">

    <div class="row">

      <div class="work-visual col-xs-12 col-md-6">
        <img src="<%= project.image %>" alt="<%= project.title %>">
      </div>

      <div class="work-info col-xs-12 col-md-3">
        <div class="caption">
          <h3><%= project.title %></h3>
          <ul>
            <% project.tags.each do |f| %>
            <li><%= f %></li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>

    <div class="category">
      <%= project.category %>
    </div>

  </section>
<% end %>

<% data.projects.project05.each_with_index do |project, i| %>
  <section class="work work-right">

    <div class="row">

      <div class="work-info col-xs-12 col-md-3 off-md-3">
        <div class="caption">
          <h3><%= project.title %></h3>
          <ul>
            <% project.tags.each do |f| %>
            <li><%= f %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="work-visual col-xs-12 col-md-6">
        <img src="<%= project.image %>" alt="<%= project.title %>">
      </div>

    </div>

    <div class="category">
      <%= project.category %>
    </div>

  </section>
<% end %>

<% data.projects.project06.each_with_index do |project, i| %>
  <section class="work work-left">

    <div class="row">

      <div class="work-visual col-xs-12 col-md-6">
        <img src="<%= project.image %>" alt="<%= project.title %>">
      </div>

      <div class="work-info col-xs-12 col-md-3">
        <div class="caption">
          <h3><%= project.title %></h3>
          <ul>
            <% project.tags.each do |f| %>
            <li><%= f %></li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>

    <div class="category">
      <%= project.category %>
    </div>

  </section>
<% end %>

<% data.projects.project07.each_with_index do |project, i| %>
  <section class="work work-right">

    <div class="row">

      <div class="work-info col-xs-12 col-md-3 off-md-3">
        <div class="caption">
          <h3><%= project.title %></h3>
          <ul>
            <% project.tags.each do |f| %>
            <li><%= f %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="work-visual col-xs-12 col-md-6">
        <img src="<%= project.image %>" alt="<%= project.title %>">
      </div>

    </div>

    <div class="category">
      <%= project.category %>
    </div>

  </section>
<% end %>
